.Special {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mixing {
  width: 40%;
  min-height: 20%;
  background-color: rgba(0, 0, 0, 0.587);
  color: white;
}
.mixing .p-mix {
  line-height: 25px;
  font-size: 20px;
}
