* {
  font-family: csfon, sans-serif;
  user-select: none;
}
.App {
  min-height: 100vh;
}

.main-page {
  min-height: 100vh;
  display: flex;
}
.sidebar__left {
  flex: 1;
}
.information__page {
  flex: 1;
}
.sidebar__right {
  flex: 1;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 6fr);
  row-gap: 15px;
  min-height: 50vh;
  margin-top: 10px;
}
.card {
  height: 400px;
  background-color: red;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
  filter: brightness(0.3);
}
.container {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}
.btn {
  min-width: 20%;
  padding: 20px 15px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.492);
}
.btn a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
